/*-----UTILITIES-----*/
/*--------BASE-------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Open Sans", sans-serif; }

/*--------PAGES------*/
header {
  background: linear-gradient(to top, rgba(4, 36, 78, 0.527), rgba(12, 48, 66, 0.795), rgba(12, 48, 66, 0.89), rgba(12, 48, 66, 0.959));
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-attachment: fixed; }
  header .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .navBar nav {
      align-self: center; }
      header .navBar nav .navbar {
        list-style-type: none;
        font-size: large;
        display: flex;
        flex-direction: row;
        justify-content: none;
        flex-wrap: nowrap;
        gap: 10px;
        align-content: center; }
        header .navBar nav .navbar li a {
          padding: 0px 20px;
          text-decoration: none; }
          header .navBar nav .navbar li a:hover {
            filter: drop-shadow(0px 0px 3px #6bb1da);
            transition: 0.5s; }

.bodyHome {
  display: grid;
  grid-template-rows: 0.6fr 2.2fr 60px;
  height: 100vh; }
  .bodyHome .mainHome {
    grid-row: 2 / 3;
    width: 100%;
    height: 70vh;
    background-color: #0c3042;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; }
    .bodyHome .mainHome .tituloHome {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      padding-top: 110px; }
    .bodyHome .mainHome .subtituloHome {
      text-align: center;
      font-size: 22px;
      font: weight 50px;
      padding-top: 50px; }

.bodyCoberturas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0b405a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.2fr 0.02fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch; }
  .bodyCoberturas .tituloCoberturas {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 50px; }
  .bodyCoberturas .coberturasImg {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    padding-top: 80px;
    transition: all 2s linear; }
    .bodyCoberturas .coberturasImg li img:hover {
      transform: scale(1.12); }

.bodyCompanias {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0c3042;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.2fr 0.02fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch; }
  .bodyCompanias .tituloCoberturas {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 50px; }
  .bodyCompanias .companiasImg {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    padding-top: 130px; }

.bodyNosotros {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0c3042;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 0.6fr 2.2fr 60px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch; }
  .bodyNosotros .mainNos {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 30px; }
  .bodyNosotros .infoNosotros {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 50px 0px;
    font-size: 22px; }
    .bodyNosotros .infoNosotros .circulo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: rgba(4, 42, 68, 0);
      border: solid 3px white;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0px auto;
      padding: 3%;
      overflow: hidden;
      transition: 0.5s ease; }
      .bodyNosotros .infoNosotros .circulo:hover {
        transform: scale(1.12); }

.bodyContacto {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0c3042;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.2fr 0.02fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main" "footer";
  justify-items: stretch; }
  .bodyContacto .formulario {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-evenly; }
    .bodyContacto .formulario .tituloContacto {
      text-align: left;
      font-size: 40px;
      font-weight: bold;
      align-self: center;
      margin-top: 70px; }
    .bodyContacto .formulario .rectangulo {
      height: 300px;
      width: 600px;
      float: right;
      padding: 2%;
      background: linear-gradient(180deg, rgba(62, 127, 159, 0.89) 0%, #0C3144 100%);
      border-radius: 17px;
      overflow: hidden;
      margin-top: 90px; }
      .bodyContacto .formulario .rectangulo .forms {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 200px;
        margin-top: 10px;
        overflow: hidden;
        border: none; }
        .bodyContacto .formulario .rectangulo .forms label {
          margin: 5px; }
          .bodyContacto .formulario .rectangulo .forms label input {
            background-color: #c2cfcf;
            border-radius: 4px;
            border: 1px solid #444141;
            height: 25px;
            width: 500px; }
      .bodyContacto .formulario .rectangulo input {
        color: black;
        /*QUIERO PONER EL ENVIAR EN COLOR NEGRO PERO NOSE COMO ACCCEDER AL BOTON*/ }

.backFooter {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 60px;
  width: 100%;
  background-color: #0c3042;
  position: fixed;
  bottom: 0; }
  .backFooter .footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center; }
    .backFooter .footer .foot {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;
      padding-right: 20px;
      align-self: center; }
      .backFooter .footer .foot a {
        padding: 0px 20px;
        text-decoration: none; }
        .backFooter .footer .foot a:hover {
          filter: drop-shadow(0px 0px 3px #6bb1da);
          transition: 0.5s; }
