/*-----UTILITIES-----*/
/*--------BASE-------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Open Sans", sans-serif; }

/*--------PAGES------*/
header {
  background: linear-gradient(to top, rgba(4, 36, 78, 0.527), rgba(12, 48, 66, 0.795), rgba(12, 48, 66, 0.89), rgba(12, 48, 66, 0.959));
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header nav {
    align-self: center; }
    header nav .navbar {
      list-style-type: none;
      font-size: large;
      display: flex;
      flex-direction: row;
      justify-content: none;
      flex-wrap: nowrap;
      gap: 10px;
      align-content: center; }
      header nav .navbar li a {
        padding: 0px 20px;
        text-decoration: none; }
        header nav .navbar li a:hover {
          filter: drop-shadow(0px 0px 3px #6bb1da);
          transition: 0.5s; }

.bodyHome main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(24, 82, 80, 0.582), rgba(12, 70, 68, 0.582), rgba(12, 54, 53, 0.473), rgba(4, 63, 73, 0.418)), url(../../assets/img/backHome.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .bodyHome main .tituloHome {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 110px; }
  .bodyHome main .subtituloHome {
    text-align: center;
    font-size: 22px;
    font: weight 50px;
    padding-top: 50px; }

.bodyCoberturas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(24, 82, 80, 0.582), rgba(12, 70, 68, 0.582), rgba(12, 54, 53, 0.473), rgba(4, 63, 73, 0.418)), url(../../assets/img/backCoberturas.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: stretch; }
  .bodyCoberturas .tituloCoberturas {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 50px; }
  .bodyCoberturas .coberturasImg {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    padding-top: 80px;
    transition: all 2s linear; }
    .bodyCoberturas .coberturasImg li img:hover {
      transform: scale(0.9); }

.bodyCompanias {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(24, 82, 80, 0.582), rgba(12, 70, 68, 0.582), rgba(12, 54, 53, 0.473), rgba(4, 63, 73, 0.418)), url(../../assets/img/backCompanias.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: stretch; }
  .bodyCompanias .tituloCoberturas {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 50px; }
  .bodyCompanias .companiasImg {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    padding-top: 130px; }
    .bodyCompanias .companiasImg li img:hover {
      transform: scale(1.12); }

.bodyNosotros {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(24, 82, 80, 0.582), rgba(12, 70, 68, 0.582), rgba(12, 54, 53, 0.473), rgba(4, 63, 73, 0.418)), url(../../assets/img/backCompanias.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: stretch; }
  .bodyNosotros main .mainNos {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    padding-top: 30px; }
  .bodyNosotros main .infoNosotros {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 50px 0px;
    font-size: 22px; }
    .bodyNosotros main .infoNosotros .circulo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: rgba(4, 42, 68, 0);
      border: solid 3px white;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0px auto;
      padding: 3%;
      overflow: hidden;
      transition: 0.5s ease; }
      .bodyNosotros main .infoNosotros .circulo:hover {
        transform: scale(1.12); }

.bodyContacto {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(24, 82, 80, 0.582), rgba(12, 70, 68, 0.582), rgba(12, 54, 53, 0.473), rgba(4, 63, 73, 0.418)), url(../../assets/img/backCompanias.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: stretch; }
  .bodyContacto main {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-evenly; }
    .bodyContacto main .tituloContacto {
      text-align: left;
      font-size: 40px;
      font-weight: bold;
      align-self: center;
      margin-top: 70px; }
    .bodyContacto main .rectangulo {
      height: 300px;
      width: 600px;
      float: right;
      padding: 2%;
      background: linear-gradient(180deg, rgba(62, 127, 159, 0.89) 0%, #0C3144 100%);
      border-radius: 17px;
      overflow: hidden;
      margin-top: 90px; }
      .bodyContacto main .rectangulo .forms {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 200px;
        margin-top: 10px;
        overflow: hidden;
        border: none; }
        .bodyContacto main .rectangulo .forms label {
          margin: 5px; }
          .bodyContacto main .rectangulo .forms label input {
            background-color: #c2cfcf;
            border-radius: 4px;
            border: 1px solid #444141;
            height: 25px;
            width: 500px; }
      .bodyContacto main .rectangulo form input {
        /*BOTON*/
        width: 60px;
        height: 25px;
        color: #555252; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 60px;
  width: 100%;
  background-color: #0c3042;
  position: fixed;
  bottom: 0; }
  footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center; }
    footer .footer .foot {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;
      padding-right: 20px;
      align-self: center; }
      footer .footer .foot a {
        padding: 0px 20px;
        text-decoration: none; }
        footer .footer .foot a:hover {
          filter: drop-shadow(0px 0px 3px #6bb1da);
          transition: 0.5s; }

@media (max-width: 1047px) {
  .bodyHome {
    width: fit-content; }
  .companiasImg {
    padding-top: 50px;
    justify-content: space-evenly;
    align-items: center; }
    .companiasImg li img {
      max-width: 150px; } }

@media (max-width: 768px) {
  .bodyCoberturas {
    width: fit-content; }
  .companiasImg {
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly; }
  .tituloHome {
    font-size: 30px;
    padding-top: 110px; }
  .subtituloHome {
    font-size: 20px;
    padding-top: 50px;
    margin-bottom: 200px; } }

@media (max-width: 425px) {
  header {
    display: flex;
    flex-direction: column;
    height: 100%; }
    header .navBar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .navBar .logoImg {
        max-width: 150px; }
      header .navBar .navbar {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center; }
  .bodyHome {
    width: fit-content; }
    .bodyHome .tituloHome {
      font-size: 20px;
      padding-top: 110px; }
    .bodyHome .subtituloHome {
      font-size: 15px;
      padding-top: 25px;
      margin: 0px 120px; }
  .tituloCoberturas {
    font-size: 20px; }
  .coberturasImg li img {
    max-width: 100px; }
  .companiasImg li img {
    max-width: 100px; }
  .backFooter {
    flex-direction: column; }
    .backFooter .footer {
      flex-direction: column;
      justify-content: center; }
      .backFooter .footer .foot a {
        font-size: 10px; } }

@media (max-width: 320px) {
  .tituloHome {
    font-size: 20px;
    padding-top: 110px; }
  .subtituloHome {
    font-size: 10px;
    padding-top: 25px;
    margin: 0px 120px; } }
