header {
  background: linear-gradient(to top, rgba(4, 36, 78, 0.527), rgba(12, 48, 66, 0.795), rgba(12, 48, 66, 0.89), rgba(12, 48, 66, 0.959));
  width: 100%;
  display: flex;
  height: 130px;
  flex-direction: row;
  justify-content: space-between;
  background-attachment: fixed; }
  header .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .navBar nav {
      align-self: center; }
      header .navBar nav .navbar {
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-content: center; }
        header .navBar nav .navbar li a {
          padding: 0px 20px; }
