footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 60px;
    width: 100%;
    background-color:rgb(12, 48, 66, 1);
    position: fixed;
    bottom: 0; 
        .footer{
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
                .foot{
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    gap: 10px;
                    padding-right: 20px;
                    align-self: center;
                }
        }
}