@media (max-width:768px) {
	header {
		nav .navbar{
      font-size: 20px;
		}
		.logoImg {
			max-width: 300px;
		}
	}
  main {
    .bodyHome {
      height: 100vh;
      
    }
  }
	.bodyCoberturas {
    .tituloCoberturas {
      font-size: 40px;
    }
    .coberturasImg {
      li img {
        max-width: 150px;
      }
    }
  }
	.bodyCompanias {
    .tituloCoberturas {
      font-size: 40px;
    }
    .companiasImg {
      li img {
        max-width: 220px;
      }
    }
  }
  .bodyNosotros {
    main {
      .mainNos {
        padding: 20px 10px;
      }
    }
  }
	.bodyContacto {
    main {
      @include flex(column, none);
      justify-content: space-evenly;
      .tituloContacto {
        text-align: center;
        font-size: 40px;
        margin: 30px 20px;
      }
      .rectangulo {
        height:400px;
        width: 450px;
        font-size:medium;
        margin: 0 auto;
        .forms {
          height: 230px;
					margin-bottom: 35px;
          overflow:visible;
          label {
            input {
              height: 35px;
              width: 400px;
            }
          }
        }
      
  }
}
}
  footer {
    .footer .foot {
        font-size: 18px;
      }
    }
}