@media (max-width:768px) {
	header {
		@include flex(column, center);
		height: 100%;
		align-items: center;
		.logoImg {
			max-width: 300px;
		}

		nav .navbar {
			align-items: center;
			font-size: 20px;
			@include flex(row, none);
			margin: 20px;
		}
	}




	// .bodyCoberturas{
	//     width: fit-content;
	// }
	// .companiasImg{
	//     flex-direction: column;
	//     align-self: center;
	//     justify-content:space-evenly;
	// }
	// .tituloHome{
	//     font-size: 30px;
	//     padding-top: 110px;
	// }
	// .subtituloHome{
	//     font-size: 20px;
	//     padding-top: 50px;
	//     margin-bottom: 200px;
	// }
}