@media (max-width:425px) {
  header {
    .logoImg {
      max-width: 150px;
    }
    nav .navbar {
      font-size: 15px;
      @include flex(column, none);
      margin-bottom: 10px;
    }
  }
  main {
    .bodyHome {
      .tituloHome {
        font-size: 25px;
        padding-top: 110px;
      }

      .subtituloHome {
        font-size: 18px;
        padding-top: 25px;
      }
    }
  }
  .bodyCoberturas {
    .tituloCoberturas {
      font-size: 25px;
    }
    .coberturasImg {
      @include flex(column, center);
      align-items: center;
      padding-top: 40px;
      li img {
        max-width: 130px;
        margin-top: 10px;
      }
    }
  }
  .bodyCompanias {
    .tituloCoberturas {
      font-size: 25px;
    }
    .companiasImg {
      @include flex(column, center);
      align-items: center;
      padding-top: 40px;
      li img {
        max-width: 160px;
        margin-top: 10px;
      }
    }
  }
  .bodyNosotros {
    main {
      .mainNos {
        font-size: 20px;
        margin-top: 10px;
      }
      .infoNosotros {
        @include flex(column, center);
        font-size: 20px;
        padding: 5%;
        .circulo {
          width: 140px;
          height: 140px;
          margin: 10px auto;
        }
      }
    }
  }
  .bodyContacto {
    main {
      @include flex(column, none);
      justify-content: space-evenly;
      .tituloContacto {
        text-align: center;
        font-size: 30px;
        margin: 30px 20px;
      }
      .rectangulo {
        height: 350px;
        width: 300px;
        margin-top: 0px;
        font-size: smaller;
        text-align: center;
        margin: 0 auto;
        .forms {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          height: 230px;
          margin-top: 10px;
          overflow:visible;
          border: none;
          label {
            margin: 7px;
            input {
              height: 30px;
              width: 250px;
            }
          }
        }
      
  }
}
}
  footer {
    @include flex(column, center);
    .footer {
      @include flex(column, center);
      .foot {
        font-size: 10px;
        a{
          padding: 0px;
        }
      }
    }
  }
}