@media (max-width:320px) {
  .bodyCoberturas {
    .image-list {
      .image-container {
        img {
        max-width: 100px;
        padding-bottom: 10px;
        }
        .image-text{
          font-size:x-small;
          margin-bottom: 7px;
        }
      }
    }
  }

  .bodyCompanias {
    .tituloCoberturas {
      font-size: 20px;
    }
    .companiasImg {
      li img {
        max-width: 130px;
      }
    }
  }

  .bodyNosotros {
    main {
      .mainNos{
        padding: 30px 5px;
      }
      .infoNosotros {
        font-size: 12px;
        .circulo {
          width: 100px;
          height: 100px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .bodyContacto {
    height:100vh;
    main {
      .tituloContacto {
        font-size: 20px;
      }
      .rectangulo {
        height: 300px;
        width: 200px;
        .forms {
          height: 143px;
          label {
            margin: 5px;
            input {
              height: 25px;
              width: 180px;
            }
          }
        }
      
  }
}
}
}
