$color-typo-principal: white;
$color-secundario: black;
$font-family_principal: 'Open Sans', sans-serif;
$background-color_1: rgb(194, 207, 207);
$background-color_footer: rgb(12, 48, 66, 1);
$gradiente-main:  linear-gradient(to top,rgba(24, 82, 80, 0.582),rgba(12, 70, 68, 0.582),rgba(12, 54, 53, 0.473),rgba(4, 63, 73, 0.418));
$gradiente-header: linear-gradient(to top,rgba(4, 36, 78, 0.527),rgba(12, 48, 66, 0.795),rgba(12, 48, 66, 0.89),rgba(12, 48, 66, 0.959));




