.bodyContacto {
  position: absolute;
  height: 100%;
  width: 100%;
  @include background(url(../../assets/img/backCompanias.jpeg));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: stretch;
  main {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-evenly;
    .tituloContacto {
      text-align: left;
      font-size: 40px;
      font-weight: bold;
      align-self: center;
      margin-top: 70px;
    }
    .rectangulo {
      height: 300px;
      width: 600px;
      float: right;
      padding: 2%;
      background: linear-gradient(180deg, rgba(62, 127, 159, 0.89) 0%, #0C3144 100%);
      border-radius: 17px;
      overflow: hidden;
      margin-top: 90px;
      .forms {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 200px;
        margin-top: 10px;
        overflow: hidden;
        border: none;
        label {
          margin: 5px;
          input {
            background-color: rgb(194, 207, 207);
            border-radius: 4px;
            border: 1px solid rgb(68, 65, 65);
            height: 25px;
            width: 500px;
          }
        }
      }
      form input {
        /*BOTON*/
        width: 60px;
        height: 25px;
        color: rgb(85, 82, 82);
        
      }
    }
  }

}