.bodyCoberturas{
    //position: absolute;
    height: 76vh;
    width: 100%;
    @include background(url(../../assets/img/backCoberturas.jpeg));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    .tituloCoberturas{
        text-align: center;
        font-size: 40px;
        font-weight:bold;
        align-self: center;
        padding-top: 50px;
    }
    .coberturasImg{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content:space-evenly;
        padding: 80px 0px;
        li img:hover{
            transform: scale(0.9);
        }
    }
    
}